.mainSection {
    height: 100vh;
    width: 100%;
    background-image: url('../../images/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.content {
    width: 70%;
    position: absolute;
    top: 80%; 
    left: 40%; 
    transform: translate(-50%, -50%); 
    text-align: start;
    z-index: 1; 
}

.content h1 {
    font-size: 4em;
    color: white;
}

.content p {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

@media(max-width: 768px) {
    .mainSection {
        width: 100%;
        background-size: cover;
        background-position: -250px;
    }
    .content {
        margin-top: -50px;
        left: 25%;
        width: 100%;
        margin-left: 25%;
        padding: 19px;
    }

    .search-bar {
        width: 90%;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 16px;
    }
}



