
.btn {
  width: 20%;
  border: none;
  padding: 10px;
  background-color: rgb(102, 147, 206);
  color: #000;
  margin-left: 40%;
}


.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 199, 159);
  position: relative; /* Ensure that card-overlay stays on top */
  z-index: 1;
}

.location-icon {
  color: #fff;
  font-size: 2rem;
}
