.location {
    text-decoration: none;
    color: black;
}


.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mainImageSec {
    height: 100vh;
    width: 100%;
    background-image: url('../.././images/mainImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    animation: zoomIn 10s ease-in-out infinite alternate;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1.009);
      
    }
    100% {
      transform: scale(1);
    }
  }
  

  .information {
    color: rgb(255, 251, 251);
    padding: 10px;
    margin: 20% 0 9% 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .information h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 8px;
  }
  
  .information p {
    font-size: 20px;
  }
  

  .info-all {
    opacity: 0;
  }
  

  .btn-all {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 16px 1px;
    text-align: center;
    margin: 80px 0 0 0;
    outline: none;
    border: none;
  }
  
  .btn-all a {
    color: white;
    text-decoration: none;
    padding: 19px 32px;
    font-size: 20px;
  }
  

  .card-all {
    width: 300px;
    height: 400px;
    margin: 50px;
    transition: 0.8s ease-in-out;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  

  .card-all:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-size: cover;
    opacity: 0.9;
  }
  
  .card-all:hover .info-all {
    opacity: 1;
  }

  .nextBtn {
    padding: 10px 50px;
  background-color: #d89127;
  color: rgb(19, 18, 18);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  }

  .nextBtn:hover {
    background-color: #c29534;
  }

  .backBtn {
    padding: 10px 50px;
    background-color: #d8a927;
    color: rgb(19, 18, 18);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 20px;
  }

  .backBtn:hover {
    background-color: #bd9540;
  }


  @media(max-width: 1400px) {
    .cardContainer {
      margin-left: 120px;
    }
  }

  @media(max-width: 991px) {
    .cardContainer {
      margin-left: -100px;
    }
  }

  @media(max-width: 1320px) {
    .cardContainer {
      margin-left: 30px;
    }
  }

  @media (min-width: 400px) and (max-width: 760px) {
    .cardContainer {
      padding-left: 20px;
    }

    .card {
      margin-left: 100px;
    }

    .nextBtn {
      width: 100%;
    }

    .backBtn {
      width: 100%;
    }
  }

  @media(max-width: 768px) {
    .cardContainer {
      margin-left: 5px;
    }

    .card {
      margin-left: 10px;
    }

    .nextBtn {
      width: 100%;
    }

    .backBtn {
      width: 100%;
    }
  }


  @media(max-width: 1024px) {
    .cardContainer {
      margin-left: 5px;
    }

    .card {
      margin-left: 10px;
    }

    .nextBtn {
      width: 100%;
    }

    .backBtn {
      width: 100%;
    }
  }