
.btn {
  width: 11.5%;
  border: none;
  padding: 10px;
  background-color: rgb(102, 147, 206);
  color: #000;
  margin-left: 10px;
}


.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 199, 159);
  position: relative; /* Ensure that card-overlay stays on top */
  z-index: 1;
}

.location-icon {
  color: #fff;
  font-size: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
}


.cardContainer {
  width: 100%;
  margin-left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.information {
  color: rgb(255, 251, 251);
  padding: 10px;
  margin: 20% 0 9% 10%;
  width: 80%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.information h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-bottom: 8px;
}

.information p {
  font-size: 20px;
}


.info-all {
  opacity: 0;
}


.btn-all {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 16px 1px;
  text-align: center;
  margin: 80px 0 0 0;
  outline: none;
  border: none;
}

.seeMore {
  width: 20%;
}

.seeMore button {
  width: 100%;
  border: none;
  padding: 20px;
  background-color: black;
  color: white;
}

.btn-all a {
  color: white;
  text-decoration: none;
  padding: 19px 32px;
  font-size: 20px;
}


.card-all {
  width: 300px;
  height: 400px;
  margin: 50px;
  transition: 0.8s ease-in-out;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}


.card-all:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-size: cover;
  opacity: 0.9;
}

.card-all:hover .info-all {
  opacity: 1;
}

