.phContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.bannerPhotographer {
  width: 100%;
  height: 20vh;
}

/* Main section styles */
.phMainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 50vh;
}

/* Container section styles */
.conSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Card styles */
.card00 {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}

.card00:hover {
  transform: scale(1.05);
}

.border {
  position: absolute;
  border: none;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Button container styles */
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

.btnSection button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnSection button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 575px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }  

  .btnContainer {
    margin-top: 220%;
  }
}
@media (min-width: 576px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .btnContainer {
    margin-top: 70%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .btnContainer {
    margin-top: 60%;
  }
}

@media (min-width: 992px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .btnContainer {
    margin-top: 14%;
  }
}
