
.border {
    height: 500px;
    width: 500px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }

  .conSection {
    /* background-color: red; */
    margin-left: auto;
    padding-left: 70px;
    width: 100%;
    gap: 20px;
  }
 
  .card00 {
    height: 330px;
    width: 100%;
    background-color: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card0 {
    background: center center no-repeat;
    background-size: 500px;
  }
  .card0:hover {
    background: center center no-repeat;
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
  }
  .card0:hover .fa {
    opacity: 1;
  }

  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    /* background-color: #ff0000; */
    width: 100%;
    margin-top: 25% !important;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .icons {
    /* background-color: red; */
    position: absolute;
    fill: #000000;
    color: #000000;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btnSection {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nextBtnn {
    padding: 10px 50px;
    background-color: #d89127;
    margin-right: 10px;
    color: rgb(19, 18, 18);
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  .backBtnn {
    padding: 10px 50px;
  background-color: #d89127;
  margin-right: 30px;
  color: rgb(19, 18, 18);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  }

  @media(max-width: 1024px) {

  }


  @media(max-width: 768px) {
    .conSection {
      margin-top: 30px;
      margin-left: -50px;
      gap: 20px;
    }


    .nextBtnn {
      width: 100%;
    }

    .backBtnn {
      width: 100%;
    }
  }

  @media(max-width: 1024px) {
    .conSection {
      margin-top: 30px;
      margin-left: -25px;
      gap: 20px;
    }
    .nextBtnn {
      width: 100%;
    }

    .backBtnn {
      width: 100%;
    }
  }