.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updateImage {
    width: 60%;
    /* background-color: red; */
}

.formSection {
    /* background-color: green; */
    width: 40%;
}

.allBtn {
    border-radius: 0;
}

.heading-update {
    /* background-color: red; */
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-update h1 {
    font-size: 3rem;
}

@media(max-width: 1024px) {
    .section {
        flex-direction: column;
    }
    .allBtn {
        width: 100%;
    }

    .updateImage {
        width: 60%;
    }
}

@media(max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .formSection {
        width: 100%;
    }

    .updateImage {
        width: 120%;
    }

    .heading-update h1 {
        font-size: 3rem;
    }
}